header {
  height: 80px;
  width: 100%;
  background-color: #eff6f6;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    left: 0;
    right: 0;
    z-index: 10;

    .nav-bar {
      ul {
        display: flex;

        li {
          padding: 20px;

          a {
            text-decoration: none;
            color: $font-color;
            color: #000000;

            &:hover {
              color: #385a54;
            }
          }
        }
      }
    }

    .btn {
      .book-btn {
        background-color: $primary;
        border: none;
        border-radius: 7px;
        padding: 10px 15px;
        color: #000000;
        font-weight: 700;
        margin-top: 15px;
        cursor: pointer;

        &:hover {
          background-color: #52a5a5;
          color: #fff;
          transition: background-color 1s, color 1s;
        }
      }
    }
  }
}

// hero banner

.hero-banner {
  position: relative;

  .hero-img {
    height: 750px;
    width: 100%;
  }

  .banner-text {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $font-color;
    text-shadow: 1px 1px 1px #414141;
    line-height: 1.1;

    h1 {
      font-size: 35px;
    }
  }
}
